@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<b>sửa tiếp ở đây nãy nhầm nó thay biểu tượng nghĩa là chưa commit giờ commit này nhấn vô cái bút</b>
<b>commit xong nó vẫn là trong máy mình thôi giờ push thì mới lên git push xong là dòng này chưa commit nên chưa có trên git</b>